/*---------------------------------------------------------------------------------START HEADER & NAVBAR-MENU*/
header {
  height: 95vh;
  position: relative;
}
#cont-navbar {
  height: 10vh;
  padding: 0;
}
#cont-navbar1 {
  width: 100%;
  height: 10vh;
}
#cont-logo {
  height: 80%;
  width: 30%;
}
#cont-logo a img {
  height: 100%;
  margin: auto;
}
.cont-account {
  width: 70%;
}
.cont-account img {
  float: right;
}
#btn-nav {
  float: right;
  height: 100%;
}
/*---------------------------------------------------------------------------------START VIDEO-BACKGROUND*/
.cont-video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}
/*---------------------------------------------------------------------------------START TITLE & SEARCH*/
.main {
  position: absolute;
  background-color: rgba(0, 255, 255, 0);
  width: 100%;
  height: 100%;
}
.form {
  background-color: rgba(250, 235, 215, 0);
  margin: auto;
  width: 100%;
  margin-top: 50vh;
  text-align: center;
  margin-bottom: 10px;
}
#tl-principal {
  font-size: 80px;
  color: white;
  text-shadow: rgb(0, 0, 0) 1px 5px 3px;
  font-family: "David Libre", serif;
  font-family: "Doppio One", sans-serif;
  font-family: "IBM Plex Sans Condensed", sans-serif;
  text-align: center;
}
.cont-search {
  margin: auto;
  width: 50%;
  background-color: rgb(255, 255, 255);
  border-radius: 50px;
  border: 1px solid rgb(57, 115, 190);
}
.form input {
  width: 80%;
  height: 80px;
  border-radius: 25px;
  border: 0 solid black;
  padding-left: 10px;
  text-align: center;
}
.form img {
  width: 50px;
}
.offer {
  text-align: center;
  margin: auto;
}
.offer a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  text-decoration: underline;
}
.offer img {
  width: 30px;
}
/*---------------------------------------------------------------------------------START FOOTER*/
#cont-footer {
  width: 98%;
  margin: auto;
  height: 10vh;
}
footer {
  height: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer p {
  text-align: center;
  margin: auto;
  width: 25%;
  font-size: 18px;
}
.cont-men {
  width: 50%;
  margin: auto;
}
.cont-men ul {
  padding-left: 0px;
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-left: 1px solid black;
  border-right: 1px solid black;
  margin: auto;
}
.cont-men ul li a {
  margin: auto;
  text-decoration: none;
  color: black;
  font-size: 20px;
}
#cont-add {
  text-align: center;
  margin: auto;
  width: 25%;
  text-decoration: none;
  color: black;
  font-size: 15px;
}
@media (max-width: 600px) {
  #tl-principal {
    font-size: 50px;
  }
  .cont-search {
    width: 80%;
  }
  .form input {
    height: 50px;
  }
  .form img {
    width: 35px;
  }
  .offer a {
    font-size: 15px;
  }
  .offer img {
    width: 25px;
  }
  footer {
    flex-direction: column;
  }
  footer p,
  .cont-men ul,
  #cont-add {
    width: 100%;
    border: 0;
  }
  .cont-men {
    justify-content: start;
    width: 100%;
  }
  #add-img {
    width: 0px;
  }
}
