/*---------------------------------------------------------------------------------START HEADER & NAVBAR-MENU*/
header {
  height: 92vh;
  position: relative;
}
#cont-logo {
  background-color: rgba(0, 0, 0, 0);
}
#cont-logo img {
  width: 35%;
}
.cont-account {
  background-color: rgba(55, 0, 255, 0);
  width: 12%;
}
.cont-account img {
  width: 35px;
  margin: auto;
  text-align: center;
}
#btn-nav {
  float: right;
}
/*---------------------------------------------------------------------------------START VIDEO-BACKGROUND*/
.cont-video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}
/*---------------------------------------------------------------------------------START TITLE & SEARCH*/
.main {
  position: absolute;
  background-color: rgba(0, 255, 255, 0);
  width: 100%;
  height: 100%;
}
.form {
  background-color: rgba(250, 235, 215, 0);
  margin: auto;
  width: 100%;
  margin-top: 40vh;
  text-align: center;
}
#tl-principal {
  font-size: 80px;
  color: white;
  text-shadow: rgb(0, 0, 0) 1px 5px 3px;
  font-family: "David Libre", serif;
  font-family: "Doppio One", sans-serif;
  font-family: "IBM Plex Sans Condensed", sans-serif;
  text-align: center;
}
.form input {
  background-color: rgba(255, 255, 255, 0.74);
  width: 60%;
  height: 50px;
  border-radius: 25px;
}
.form img {
  width: 50px;
}
/*---------------------------------------------------------------------------------START FOOTER*/
.footer {
  background-color: rgb(58, 58, 58);
  height: 8vh;
  text-align: center;
}
.footer p {
  height: 100%;
  font-size: 25px;
  color: white;
}
