.nav-cont {
  display: flex;
  flex-direction: row;
  padding: 5px;
}
.cont-logo {
  width: 30%;
  background-color: rgba(127, 255, 212, 0);
  padding-left: 10px;
  margin: auto;
}
.cont-logo a {
  text-decoration: none;
  font-size: 20px;
  text-decoration: wavy;
  color: white;
}
.cont-menu {
  background-color: rgba(255, 228, 196, 0);
  width: 70%;
  display: flex;
  flex-direction: row;
  padding: 2px;
  float: right;
}
/*
.cont-search {
  background-color: rgba(33, 73, 73, 0);
  width: 80%;
}
.form-nav {
  float: right;
  border-right: 1px solid white;
}
.form-nav input {
  width: 80%;
  border-radius: 8px;
}
*/
.cont-account {
  background-color: rgba(55, 0, 255, 0);
  width: 10%;
  float: right;
}
.cont-account img {
  width: 40%;
  margin: auto;
}
.cont-submenu {
  background-color: rgba(175, 93, 17, 0);
  width: 10%;
  text-align: center;
  border-left: 1px solid white;
  float: right;
}
#menu-icon img {
  border: 1px solid rgb(255, 255, 255);
  border-radius: 20%;
  margin: auto;
}
